<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="http" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
    </queries>

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Suraksha"
        tools:targetApi="31">
        <activity
            android:name=".AboutUsActivity"
            android:exported="false" />
        <activity
            android:name=".userlogin.EmailVerificationActivity"
            android:exported="false" />
        <activity
            android:name=".userlogin.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".dropdown.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".dropdown.HowToUseActivity"
            android:exported="false" />
        <activity
            android:name=".dropdown.EmergencyContactsActivity"
            android:exported="false" />
        <activity
            android:name=".LandingPageActivity"
            android:exported="false" />
        <activity
            android:name=".EmergencyHelplineActivity"
            android:exported="false" />
        <activity
            android:name=".userlogin.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".userlogin.SignUpActivity"
            android:exported="false"
            android:noHistory="true" />
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>